<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
  <title>Good Thymes Virtual Grocery</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" media="all"
        href="/css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>
<img th:src="@{/images/gtvglogo.png}" src="/images/gtvglogo.png" alt="Good Thymes Virtual Grocery Store Logo">
<p th:text="#{home.welcome}">Welcome to our grocery store!</p>
<p>Hello World!</p>
</body>

</html>
